<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
        <source src="https://videos.pexels.com/video-files/1851190/1851190-uhd_2560_1440_25fps.mp4" type="video/mp4">
      </video>
    <header>
        <navbar class="navbar">
            <a href="{{ url_for('sign_in') }}"><img src="{{ url_for('static', filename='images/profile.jpeg') }}" alt="sign_in" class="logo"></a>
            <a href="{{ url_for('sign_in') }}">Sign In</a>
            <a href="{{ url_for('sign_up') }}">Sign Up</a>
                {% if session.get('user_id') %}
                <a href="{{ url_for('logout') }}"></a>
                {% endif %}
        </navbar>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
